/* @override 
	http://buildsucceeded.nl/pubmed/style.css */

body {
	width: 700px;
	margin: 0 auto;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.3em;
	padding: 1em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
div#query {
	background-color: rgba(0, 0, 0, 0.03);
	padding: 10px;
	border-radius: 5px;
	border: 1px dashed rgba(0, 0, 0, 0.1);
	min-height: 13px;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

div.levelup {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: rgba(0, 0, 0, 0.02);
	padding: 1.2em;
/*	border-radius: 5px;*/
	border-left: 1px dashed rgba(0, 0, 0, 0.3);
}
div.operator {
	display: block;
}
span {
	height: 13px;
}
span.tag {
	color: #1a6f10;
	display: inline-block;
	padding-right: 3px;
	padding-left: 3px;
}
span.legend {padding:0px}
span.word {
	color: black;
	display: inline-block;
}
ul
{
	padding: 0px;
	margin-top: 0px;
}
ul li
{
	padding: 4px 0px;
}
span.word:empty
{
	margin-bottom: -3px;
	margin-left: -1px;
	width: 1px;
	min-height: 13px;
	min-width: 1px;
	overflow: hidden;
	display: inline-block;
}
span.parenthesis {
	color: #ccc;
	display: block;
}
div.levelup
{
	color:#ccc;
}
div.secondlevel
{
	padding-left: 10px;
}
span.noqoutes
{
	color:red !important;
}
div.operator {
	color: #ad272e;
	text-align: left;
}
textarea {
	width: 100%;
	height: 15em;
	margin-bottom: 2em;
}
#pubmed
{
	line-height: 1.75em;
}
#pubmed #queryTranslation
{
	color: #1a6f10;
	font-weight: normal;
	font-style: normal;
}

#pubmed #queryDiff
{
	color: #5d5d5d;
}

#pubmed #count
{
	font-style: italic;
}

#queryDiff span
{
	color: inherit !important;
}
ins, del
{
	font-weight: bold;
	padding: 3px;
	color: #000000;
}
ins
{
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.17);
	font-weight: normal;
	font-style: normal;
}

del
{
	font-weight: normal;
	font-style: normal;
	color: rgb(188, 0, 0);
}

ins + del,del + ins
{
	margin-left: 1px;
}

a:visited
{
	background-color: inherit;
}

div#pubmed
{
	display: none;
	background-color: rgba(0, 0, 0, 0.02);
	padding: 1px 10px;
	border-radius: 5px;
	min-height: 13px;
}
a, a:visited, a:hover, a:active {
  color: blue;
}